<!DOCTYPE html>
<html>
  <head>
    <title>Space WLVS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home" , root_path %>
	<%= link_to "About" , about_path %>
	<%= link_to "Contact" , contact_path %>
	<%= link_to "Tour" , tour_path %>
  <%= link_to "Pictures" , pictures_path %> 
  <a href=http://www.facebook.com/spacewlvs>Facebook</a>
    <%= yield %>
  </body>
</html>
